.dm-zoom-appear,
.dm-zoom-exit {
  animation-fill-mode: both;
  animation-play-state: paused;
}

.dm-zoom-appear.dm-zoom-appear-active {
  animation: 160ms cubic-bezier(0.15, 0.85, 0.45, 0.1) 0s 1 dm-ani-zoomin;
}

.dm-zoom-exit.dm-zoom-exit-active {
  animation: 160ms cubic-bezier(0.18, 0.65, 0.6, 0.8) 0s 1 dm-ani-zoomout;
}

@keyframes dm-ani-zoomin {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dm-ani-zoomout {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
